.tabbar {
    width: 100vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Изменено с space-between на center */
    position: fixed;
    bottom: 0;
    padding: 0 20vw; /* Добавлено для отступов внутри контейнера */
}


.tabbar .nav-link {
    font-weight: bold; /* Жирный текст */
    color: white;
    text-decoration: none; /* Убрать подчеркивание ссылки */
}