.header {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin-top: 20px;
}

.referals {
    position: absolute;
    right: 0;
    padding: 0 20px;
}

.totalScore {
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.score {
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.username {
    position: absolute;
    left: 0;
    padding: 0 20px;
}